#header{
    display: flex;
    width: 100vw;
    flex-direction: column;
    position: fixed;
    top: 0;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}