#navbar{
    display: flex;
    flex-direction: row;
    height: 10%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

#navbar p{
    font-family: sans-serif;
    font-weight: 600;
    color: #E9EAEC;
    font-size: 1.3rem;
}

.expand-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 60px;
    height: 12px;
    cursor: pointer;
}

.expand-btn div{
    background-color: #E9EAEC;
    min-width: 12px;
    max-height: 12px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.expand-btn div.one{
    border-radius: 0;
    width: 20px;
    height: 3px;
    transform: translate(17px, 0px) rotate(-35deg);
}

.expand-btn div.two{
    border-radius: 0;
    width: 20px;
    height: 3px;
    transform: translate(-3px, 11px) rotate(35deg);
}

.expand-btn div.three{
    border-radius: 0;
    min-width: 40px;
    height: 3px;
    transform: translate(-20px, 6px);
}

.NavbarItem a{
    text-decoration: none;
    color: #E9EAEC;
    padding: 0 0.4rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-block;
}

.NavbarItem .underline{
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #E9EAEC;
    transition: all 0.3s ease;
    background-image: url("/public/masks/mask.png");
    background-size:cover;
}

.NavbarItem a:hover{
    transform: scale(1.1);
    background-image: url("/public/masks/mask.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:contain;
}

.NavbarItem a:hover + .underline{
    width: 100%;
}

.NavbarItems{
    display: flex;
    flex-direction: row;
    width: 0;
    overflow: hidden;
    transition: width 1s ease;
}

.show{
    width: 29rem;
}

.nav{
    display: flex;
    z-index: 10;
}