

.NavItem{
    padding: 0.2rem 1rem;
}

.NavItem a{
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-primary);
}

.NavItem .underline{
    height: 5px;
    width: 0px;
    transition: all 0.2s ease;
}

.NavItem a:hover ~ .underline{
    width: 100%;
}